body{
  margin:0;
  font-family:Arial;
}

#toolbar{
  background:#333;
  padding:10px;
}

#toolbar button{
  margin-right:10px;
}

#container{
  display:flex;
  height:400px;
}

#palette{
  width:150px;
  background:#2c3e50;
  color:white;
  padding:10px;
}

.component{
  background:#3498db;
  margin:5px 0;
  padding:8px;
  cursor:grab;
}

#workarea{
  position:relative;
  flex:1;
}

#canvas{
  border:1px solid black;
}

#code{
  display:none;
  position:absolute;
  top:0;
  right:0;
  width:40%;
  height:100%;
  background:black;
  color:lime;
  padding:10px;
}

#bottom{
  background:#333;
  padding:10px;
  text-align:center;
}

#bottom button{
  padding:10px 20px;
}
